[[extend 'layout.html']]

<style>
[v-cloak] {
     display: none;
}
</style>

<div class="section" id="vue-target" v-cloak>

  <div v-if="add_mode" class="container block">
    <div class="title">Add Contact</div>
    <div class="form">

      <!-- This looks like a form, but is not.  We just need the inputs. -->
      <div class="field">
        <label class="label">First Name:</label>
        <div class="control">
          <input type="text" v-model="add_first_name" class="input">
        </div>
      </div>
      <div class="field">
        <label class="label">Last Name:</label>
        <div class="control">
          <input type="text" v-model="add_last_name" class="input">
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input type="submit" @click="add_contact" value="Add" class="button is-primary">
          <input type="submit" @click="set_add_status(false)" value="Cancel" class="button is-warning">
        </div>
      </div>
    </div>
  </div>


  <div class="container block">
    <h1 class="title">Contacts</h1>
    <table class="table is-striped is-fullwidth">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th></th>
      </tr>
      <tr v-for="r in rows">
        <td v-for="fn in ['first_name', 'last_name']">
          <div class="control" :class="{'is-loading': r._state[fn] === 'pending'}" >
            <input type="text" class="input" v-model="r[fn]"
              :class="{
                'is-focused': r._state[fn] === 'edit',
                'is-static': r._state[fn] === 'clean',
              }"
              :readonly="r._state[fn] === 'clean'"
              @click="start_edit(r._idx, fn)"
              @blur="stop_edit(r._idx, fn)"
            />
          </div>
        </td>
        <td><button @click="delete_contact(r._idx)" class="button is-danger">
          <i class="fa fa-trash"></i></button></td>
      </tr>
    </table>
    <button @click="set_add_status(true)" class="button is-primary">
      <i class="fa fa-plus fa-fw"></i> Add Person
    </button>
  </div>

</div>


[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let load_contacts_url = "[[=XML(load_contacts_url)]]";
  let add_contact_url = "[[=XML(add_contact_url)]]";
  let delete_contact_url = "[[=XML(delete_contact_url)]]";
  let edit_contact_url = "[[=XML(edit_contact_url)]]";
</script>
<script src="js/index.js"></script>
[[end]]